<div class="request">
    <h2 class="{{ 'method-' ~ requestObject.method }}">{{ requestObject.method }}</h2>
    <h3>{{ requestObject.url }}</h3>
    <h4>{{ requestObject.createdAt|date('d/m/Y H:i:s') }}</h4>

    <div class="headers">
        <h3>Headers</h3>
        <table class="table table-striped table-bordered">
            {% for header, values in requestObject.headers %}
                <tr>
                    <td>{{ header }}</td>
                    <td>{% for value in values %}{% if not loop.first %}{{ ' | ' }}{% endif %}{{ value }}{% endfor %}</td>
                </tr>
            {% endfor %}
        </table>
        </ul>
    </div>

    <div class="query-parameters">
        <h3>Query Parameters</h3>
        <table class="table table-striped table-bordered">
            {% for queryParameter, value in requestObject.queryParameters if requestObject.queryParameters is not empty %}
                <tr>
                    <td>{{ queryParameter }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% else %}
                <tr><td colspan="2">None</td></tr>
            {% endfor %}
        </table>
    </div>

    <div class="post-parameters">
        <h3>Post Parameters</h3>
        <table class="table table-striped table-bordered">
            {% for postParameter, value in requestObject.postParameters if requestObject.postParameters is not empty %}
                <tr>
                    <td>{{ postParameter }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% else %}
                <tr><td colspan="2">None</td></tr>
            {% endfor %}
        </table>
    </div>

    <div class="content">
        <h3>Content</h3>
        <p>{{ requestObject.content|default('Empty') }}</p>
    </div>
</div>
