{% macro mapMethodClass(method) %}
    {% if 'get' == method %}
        request-method label label-success
    {% elseif 'post' == method %}
        request-method label label-warning
    {% elseif 'delete' == method %}
        request-method label label-danger
    {% elseif 'put' == method %}
        request-method label label-primary
    {% elseif 'patch' == method %}
        request-method label label-info
    {% else %}
        request-method label label-default
    {% endif %}
{% endmacro %}

{% import _self as macros %}

<div id="alert-template" class="alert alert-info alert-dismissible hide" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p class="message"></p>
    <p class="copied-text"></p>
</div>

<div class="request well">
    <div class="request-header">
        <h2>
            <span class="{{ macros.mapMethodClass(requestObject.method|lower) }}">{{ requestObject.method }}</span>
            <span class="request-host">{{ requestObject.host }}</span>
        </h2>

        <div class="request-sumup pull-right active">
            <span>H </span><span class="badge">{{ requestObject.headers|length }}</span>
            <span>Q </span><span class="badge">{{ requestObject.queryParameters|length }}</span>
            <span>P </span><span class="badge">{{ requestObject.postParameters|length }}</span>
            <span>C </span><span class="badge">{{ requestObject.content|length }}</span>
        </div>

        <p class="request-date">{{ requestObject.createdAt|date('d/m/Y H:i:s') }}</p>

        <div class="actions">
            <button class="clipboard-copy btn uri" data-clipboard-text="{{ requestObject.uri }}" data-info-message="The URI has been copied to your clipboard.">
                <i class="fa fa-clipboard"></i> URI
            </button>
            <button class="clipboard-copy btn curl" data-clipboard-text="{{ requestObject|curl }}" data-info-message="The cURL command has been copied to your clipboard.">
                <i class="fa fa-clipboard"></i> cURL
            </button>
        </div>

        <div class="request-toggle">
            <i class="fa fa-chevron-down active"></i>
            <i class="fa fa-chevron-up hide"></i>
        </div>
    </div>

    <div class="request-content hide" role="tab-panel">
        <ul class="nav nav-pills tab" role="tablist">
            <li role="presentation" class="active">
                <a href="#request-{{ requestObject.id }}-headers" role="tab" data-togle="tab" aria-controls="request-{{ requestObject.id }}-headers">
                    <span class="badge">{{ requestObject.headers|length }}</span> Headers
                </a>
            </li>
            <li role="presentation">
                <a href="#request-{{ requestObject.id }}-query-parameters" role="tab" data-togle="tab" aria-controls="request-{{ requestObject.id }}-query-parameters">
                    <span class="badge">{{ requestObject.queryParameters|length }}</span> Query Parameters
                </a>
            </li>
            </li>
            <li role="presentation">
                <a href="#request-{{ requestObject.id }}-post-parameters" role="tab" data-togle="tab" aria-controls="request-{{ requestObject.id }}-post-parameters">
                    <span class="badge">{{ requestObject.postParameters|length }}</span> Post Parameters
                </a>
            </li>
            </li>
            <li role="presentation">
                <a href="#request-{{ requestObject.id }}-content" role="tab" data-togle="tab" aria-controls="request-{{ requestObject.id }}-content">
                    <span class="badge">{{ requestObject.content|length }}</span> Content
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="request-{{ requestObject.id }}-headers" class="tab-pane active">
                <table class="table table-striped">
                    {% for header, values in requestObject.headers %}
                        <tr>
                            <td>{{ header }}</td>
                            <td>{% for value in values %}{% if not loop.first %}{{ ' | ' }}{% endif %}{{ value }}{% endfor %}</td>
                        </tr>
                    {% endfor %}
                </table>
                </ul>
            </div>

            <div id="request-{{ requestObject.id }}-query-parameters" class="tab-pane">
                <table class="table table-striped">
                    {% for queryParameter, value in requestObject.getQueryParameters|formatParameters if requestObject.getQueryParameters is not empty %}
                        <tr>
                            <td>{{ queryParameter }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% else %}
                        <tr><td colspan="2">None</td></tr>
                    {% endfor %}
                </table>
            </div>

            <div id="request-{{ requestObject.id }}-post-parameters" class="tab-pane">
                <table class="table table-striped">
                    {% for postParameter, value in requestObject.getPostParameters|formatParameters if requestObject.getPostParameters is not empty %}
                        <tr>
                            <td>{{ postParameter }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% else %}
                        <tr><td colspan="2">None</td></tr>
                    {% endfor %}
                </table>
            </div>

            <div id="request-{{ requestObject.id }}-content" class="tab-pane">
                <p>{{ requestObject.content|default('Empty') }}</p>
            </div>
        </div>
    </div>
</div>
