{% macro arrayParameters(parameters, queryParameterArray = null, nested = false) %}
    {% for queryParameter, value in parameters if parameters is not empty %}
        <tr>
            {% if nested %}
                {% set queryParameterArray = queryParameterArray ~ '[' ~ queryParameter ~ ']' %}
            {% else %}
                {% set queryParameterArray = queryParameter %}
            {% endif %}

            {% if value is iterable %}
                {{ _self.arrayParameters(value, queryParameterArray, true) }}
            {% else %}
                <td>{{ queryParameterArray }}</td>
                <td>{{ value }}</td>
            {% endif %}
        </tr>
    {% else %}
        <tr><td colspan="2">None</td></tr>
    {% endfor %}
{% endmacro %}

{% import _self as macro %}

<div class="request well">
    <div class="request-header">
        <h2><span class="{{ 'method ' ~ requestObject.method|lower }}">{{ requestObject.method }}</span><span class="host">{{ requestObject.host }}</span></h2>
        <div class="request-sumup pull-right active">
            <span>H </span><span class="badge">{{ requestObject.headers|length }}</span>
            <span>Q </span><span class="badge">{{ requestObject.queryParameters|length }}</span>
            <span>P </span><span class="badge">{{ requestObject.postParameters|length }}</span>
            <span>C </span><span class="badge">{{ requestObject.content|length }}</span>
        </div>

        <p>{{ requestObject.createdAt|date('d/m/Y H:i:s') }}</p>
    </div>

    <div class="request-content hide" role="tab-panel">
        <ul class="nav nav-pills tab" role="tablist">
            <li role="presentation" class="active">
                <a href="#request-{{ requestObject.id }}-headers" role="tab" data-togle="tab" aria-controls="request-{{ requestObject.id }}-headers">
                    <span class="badge">{{ requestObject.headers|length }}</span> Headers
                </a>
            </li>
            <li role="presentation">
                <a href="#request-{{ requestObject.id }}-query-parameters" role="tab" data-togle="tab" aria-controls="request-{{ requestObject.id }}-query-parameters">
                    <span class="badge">{{ requestObject.queryParameters|length }}</span> Query Parameters
                </a>
            </li>
            </li>
            <li role="presentation">
                <a href="#request-{{ requestObject.id }}-post-parameters" role="tab" data-togle="tab" aria-controls="request-{{ requestObject.id }}-post-parameters">
                    <span class="badge">{{ requestObject.postParameters|length }}</span> Post Parameters
                </a>
            </li>
            </li>
            <li role="presentation">
                <a href="#request-{{ requestObject.id }}-content" role="tab" data-togle="tab" aria-controls="request-{{ requestObject.id }}-content">
                    <span class="badge">{{ requestObject.content|length }}</span> Content
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="request-{{ requestObject.id }}-headers" class="tab-pane active">
                <table class="table table-striped">
                    {% for header, values in requestObject.headers %}
                        <tr>
                            <td>{{ header }}</td>
                            <td>{% for value in values %}{% if not loop.first %}{{ ' | ' }}{% endif %}{{ value }}{% endfor %}</td>
                        </tr>
                    {% endfor %}
                </table>
                </ul>
            </div>

            <div id="request-{{ requestObject.id }}-query-parameters" class="tab-pane">
                <table class="table table-striped">
                    {{ macro.arrayParameters(requestObject.queryParameters) }}
                </table>
            </div>

            <div id="request-{{ requestObject.id }}-post-parameters" class="tab-pane">
                <table class="table table-striped">
                    {% for postParameter, value in requestObject.postParameters if requestObject.postParameters is not empty %}
                        <tr>
                            <td>{{ postParameter }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% else %}
                        <tr><td colspan="2">None</td></tr>
                    {% endfor %}
                </table>
            </div>

            <div id="request-{{ requestObject.id }}-content" class="tab-pane">
                <p>{{ requestObject.content|default('Empty') }}</p>
            </div>
        </div>
    </div>
</div>
