{% extends 'DeuzuRequestCollectorBundle::layout.html.twig' %}

{% macro displayPaginationLinks(disabled, path, label, content) %}
    <li {% if disabled %}class="disabled"{% endif %}>
        {% if not disabled %}
            <a href="{{ path }}" aria-label="{{ label }}">
                <span aria-hidden="true">{{ content|raw }}</span>
            </a>
        {% else %}
            <span aria-hidden="true">{{ content|raw }}</span>
        {% endif %}
    </li>
{% endmacro %}

{% import _self as self %}

{% block body %}
    {% for requestObject in paginator %}
        {% include 'DeuzuRequestCollectorBundle:RequestCollector:bootstrap_request.html.twig' %}
    {% endfor %}

    <nav>
        <ul class="pagination">
            {{ self.displayPaginationLinks(
                page  <= 1,
                path(app.request.attributes.get('_route'), {page: page - 1}),
                "Previous",
                "&laquo;"
            ) }}
            {% for pageNumber in 1..(paginator.count / itemsPerPage)|round %}
                {{ self.displayPaginationLinks(
                    pageNumber == page,
                    path(app.request.attributes.get('_route'), {page: pageNumber}),
                    '',
                    pageNumber
                ) }}
            {% endfor %}
            <li>
                {{ self.displayPaginationLinks(
                    (paginator.count / itemsPerPage)|round == page,
                    path(app.request.attributes.get('_route'), {page: page + 1}),
                    "Next",
                    "&raquo;"
                ) }}
            </li>
        </ul>
    </nav>
{% endblock body %}

{% block stylesheets %}
    {% if true == assets.bootstrap3_css %}
        <link rel="stylesheet" href="{{ asset('bundles/deuzurequestcollector/css/bootstrap.min.css') }}" />
    {% else %}
        <link rel="stylesheet" href="{{ asset(assets.bootstrap3_css) }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ asset('bundles/deuzurequestcollector/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/deuzurequestcollector/css/main.css') }}" />
{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/deuzurequestcollector/js/ZeroClipboard.min.js') }}"></script>

    {% if true == assets.jquery %}
        <script type="text/javascript" src="{{ asset('bundles/deuzurequestcollector/js/jquery.min.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset(assets.jquery) }}"></script>
    {% endif %}

    {% if true == assets.bootstrap3_js %}
        <script type="text/javascript" src="{{ asset('bundles/deuzurequestcollector/js/bootstrap.min.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset(assets.bootstrap3_js) }}"></script>
    {% endif %}

    <script type="text/javascript" src="{{ asset('bundles/deuzurequestcollector/js/main.js') }}"></script>
{% endblock javascripts %}
