{% extends 'DeuzuRequestCollectorBundle::layout.html.twig' %}

{% block body %}
    {% for requestObject in requestObjects %}
        {% include 'DeuzuRequestCollectorBundle:RequestCollector:bootstrap_request.html.twig' %}
    {% endfor %}

    <!-- <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav> -->
{% endblock body %}

{% block stylesheets %}
    {% if true == assets.bootstrap3_css %}
        <link rel="stylesheet" href="{{ asset('bundles/deuzurequestcollector/css/bootstrap.min.css') }}" />
    {% else %}
        <link rel="stylesheet" href="{{ asset(assets.bootstrap3_css) }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ asset('bundles/deuzurequestcollector/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/deuzurequestcollector/css/main.css') }}" />
{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/deuzurequestcollector/js/ZeroClipboard.min.js') }}"></script>

    {% if true == assets.jquery %}
        <script type="text/javascript" src="{{ asset('bundles/deuzurequestcollector/js/jquery.min.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset(assets.jquery) }}"></script>
    {% endif %}

    {% if true == assets.bootstrap3_js %}
        <script type="text/javascript" src="{{ asset('bundles/deuzurequestcollector/js/bootstrap.min.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset(assets.bootstrap3_js) }}"></script>
    {% endif %}

    <script type="text/javascript" src="{{ asset('bundles/deuzurequestcollector/js/main.js') }}"></script>
{% endblock javascripts %}
